:root{

/*### Primary*/

--Bg_Primary_VeryDarkMagenta: hsl(300, 43%, 22%);
--Bg_Primary_SoftPink: hsl(333, 80%, 67%);

/*### Neutral*/

--Bg_Neutral_DarkGrayishMagenta: hsl(303, 10%, 53%);
--Bg_Neutral_LightGrayishMagenta: hsl(300, 24%, 96%);
--Bg_Neutral_White: hsl(0, 0%, 100%);

--Ft_Primary : 'Spartan', sans-serif;

}


* {
    
    box-sizing: border-box;
    margin:0;
    padding:0;

    font-family: var(--Ft_Primary);
    
}

html{
    height: 100%;
}



body {
    height: 100%;
    
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-attachment: local, fixed;

    padding-left:1rem;
    padding-right:1rem;
 
    padding-top:1rem;
    
        
}


.container {
    
    max-width: 70rem;
    font-size: 0.95rem;
    margin-left: auto;
    margin-right: auto;


}



.titre {
    text-align: center;

    margin-top: 3rem;
    margin-bottom: 2rem;
}

.titre h1 {
    color:var(--Bg_Primary_VeryDarkMagenta);
    font-size: 1.9rem; /*devrait être hérité 'Layout' */
    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;

    max-width: 14ch;


   
}

.titre p {
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.7;


    margin-right: auto;
    margin-left: auto;
   
    max-width: 30rem;
    
}



.rating {
    background-color: var(--Bg_Neutral_LightGrayishMagenta);

    display: flex;
    flex-direction: column;
    text-align: center;  
    
    margin-bottom: 1rem;
    padding: 1rem;

   

    

    border-radius: 10px;
}



.rating p {    
    
    display: block;
    font-weight: 700;
    color: var(--Bg_Primary_VeryDarkMagenta);

    padding-top: 1.5vh;
}


.stars img {
    width: 17px;
    height: 16px;
     
}

.stars > img + img {
    margin-left:0.3rem;
}


.container-review {
    display:flex;
    flex-direction: column;

    gap: 1rem;
    margin-bottom: 2rem;

}

.review {
    background-color: var(--Bg_Primary_VeryDarkMagenta);

    display: flex;
    flex-direction: column;

    color: var(--Bg_Neutral_White);
    
    font-size: 0.80rem;
   
    padding:2rem;
    gap:2rem;

    border-radius: 10px;
    
}

.user {
    display: grid;
    grid-template-columns: 3rem 1fr;
 
    column-gap: 2rem;
    row-gap: 0.2rem;

   

}

.user img {
    grid-row: 1 / span 2 ;

    border-radius: 50%;
    width:100%;
    
   
     
}

/* PAS très bonne pratique tous les H2 devrait être identique */
.user h2 {
    font-size: 0.90rem;   
    grid-column: 2;
    grid-row: 1;

    align-self: flex-end;

   
    
}

.user p {
    color:var(--Bg_Primary_SoftPink);  /* pourrait être une classe utilitaire u-color-Primary-400 */
   
    grid-column: 2;
    grid-row: 2;
   
}

.content {
    line-height: 1.5rem;
}   


@media (max-width:600px) {
    
    body {
        background-image: 
        url(../images/bg-pattern-top-mobile.svg),
        url(../images/bg-pattern-bottom-mobile.svg);
    
        

        
    }
}

@media (min-width:600px) {
    
    body {
        background-image: 
        url(../images/bg-pattern-top-desktop.svg),
        url(../images/bg-pattern-bottom-desktop.svg);
    
       
    
    }

}

@media (min-width:1000px) {
    
    body{
        padding-top:6rem;
    }    
    
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* grid-template-rows: 48vh 42vh; */

     
      
      
   
        
        
    }

    .titre {
        grid-column: 1/2;

        width:30rem;
        text-align: left;

    }

    .titre h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .titre p {
        line-height: 1.5rem;
    }

    .container-rating {
   
        grid-column: 2/3;

        display: flex;
        flex-direction: column;
        
        align-self: center;
        justify-self: center;
               
       
    }
 

    .rating {
        display: flex;
        flex-direction: row;
        
        gap: 1rem;
        
        padding:1.2rem 0;
        padding-left:2rem;
        padding-right:3rem;
       
       
    }

    /* .stars {
        align-self: center;
    } */



    .rating p {
        align-self: center;
        justify-self: start;
        padding: 0;
    }

    /* .rating:nth-child(1) {
        margin-left:4.3vw;
        margin-right:6vw;
    }

    .rating:nth-child(2) {
        margin-left:7.3vw;
        margin-right:3vw;
    } */


    .rating:first-of-type {
        transform: translateX(-4rem);
    }
    .rating:last-of-type {
        transform: translateX(4rem);
    }
    
    



    .container-review {

        grid-column: 1 / -1;

        
        flex-direction: row;
        justify-content: space-between;
        gap:1rem;

        
        
    }

    .content {
        line-height: 1.2rem;
    }

    .review {
        max-width: 28em;
        margin-bottom: auto;
    
    }

    .review:nth-child(2){
        /* transform: translateY(2rem); */
        margin-top: 2rem;
    }

    .review:nth-child(3){
        /* transform: translateY(4rem); */
        margin-top: 4rem;
    }

}